/* Overall content of page */
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(124, 138, 175);
}
/* Class selector */
.movie {
    text-shadow: 1px 1px 1px #56f;
    font-weight: bold;
    
}

/* Universal selector */
* {
    font-family: 'Roboto', sans-serif;
}

/* ID selector */
#hobbies {
    display: inline;
    
}

#skills {
    display: block;
    background-color: rgba(78, 81, 92, 0.3);
    border-radius: 0.1in;
    border-style:dotted;
    border-width: 10px;
    border-color: #378;
    padding: 2pc;
}

#foods {
    display:inline-block;
    background-color: rgba(78, 81, 92, 0.2);
    border-radius: 5px;
    padding: 10px;
}

#portrait {
    max-width: 25%;
    min-width: 15%;
}

#excusePic {
    max-width: 35vw;
}

/* Element selector */
caption {
    padding: 6mm;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: .7rem;
}

/* Selector List */
th,
td {
    border: 1px solid #000000;
    padding: 0.7cm 0.7cm;
}

td {
    text-align: center;
}

/* Attribute selector */
a[href*="github"] {
    text-decoration-color: aqua;
    text-decoration-style: wavy;
}

/* Pseudo-classes */
button:hover {
    color: blue;
    background-color: #77f;
}

p::first-letter {
    font-weight: bold;
}

/* Descendant Combinator */
ol span {
    font-weight: bolder;
    font-style:italic;
}

/* Child Combinator */
div > p {
    font-size: 15px;
    font-weight: 500;
}

/* Adjacent Sibling Combinator */
p + aside {
    max-width: 25vw;
    padding-left: 1rem;
    color: hsl(217, 45%, 32%);
    padding-right: 1rem;
    float:right;
    box-shadow: inset 10px 0 10px -10px rgb(23, 34, 73);
    font-style: italic;
    
}

/* General Sibling Combinator */
h1 ~ p {
    color: hsla(217, 45%, 17%, 1);
    text-indent: 0.7em;
}

/* Combining Two Selectors */
span.activity {
    text-shadow: 1px 1px 2px hsla(217, 45%, 17%, 0.4);
}