/* media query */
@media only screen and (max-width: 800px) {
    body {
        font-size: 10px;
        background-color: gray;
    }
}

@media only screen and (min-width: 1400px) {
    body {
        font-size: 16px;
        background-color: #124612;
    }
}

/* selector list */
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(124, 138, 175);
}

/* Class selector */
.movie {
    text-shadow: 1px 1px 1px #56f;
    font-weight: bold;
    
}

#yesDate {
    order: 1;
}

#yesName {
    order: 3;
    align-self: center;
}

#yesEmail {
    order: 5;
    flex-grow: 1;
}
/* Universal selector */
* {
    font-family: 'Roboto', sans-serif;
}

/* ID selector */
#hobbies {
    display: inline;
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
}

#hobbies p {
    width: 25%;
    height: 50px;
    text-decoration:solid
}

#swamp {
    position:sticky;
    top: 0;
}

#skills {
    display: block;
    background-color: rgba(78, 81, 92, 0.3);
    position: relative;
    border-radius: 0.1in;
    border-style:dotted;
    border-width: 10px;
    border-color: #378;
    padding: 2pc 1pc 2pc 1pc;
    margin: 10px 5px 10px 5px;
}

#skills p {
    width: 350px;
    height: 100px;
    text-align:center;
}

#foods {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35% auto auto;
    align-items: center;
    justify-items: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
    background-color: rgba(78, 81, 92, 0.2);
    border-radius: 5px;
}

#foods p {
    width: 350px;
    height: 75px;
    text-align: left;
}

#portrait {
    max-width: 25%;
    min-width: 15%;
}

#excusePic {
    max-width: 35vw;
}

/* Element selector */
caption {
    padding: 6mm;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: .7rem;
}

/* Selector List */
th,
td {
    border: 1px solid #000000;
    padding: 0.7cm 0.7cm;
}

td {
    text-align: center;
}

/* Attribute selector */
a[href*="github"] {
    text-decoration: underline overline;
}

/* Pseudo-classes */
button:hover {
    color: blue;
    background-color: #77f;
}

button:active {
    text-decoration:line-through;
}

p::first-letter {
    font-weight: bold;
}

/* Descendant Combinator */
ol span {
    font-weight: bolder;
    font-style:italic;
}

/* Child Combinator */
div > p {
    font-size: 15px;
    font-weight: 500;
}

/* Adjacent Sibling Combinator */
p + aside {
    max-width: 25vw;
    padding-left: 1rem;
    color: hsl(217, 45%, 32%);
    padding-right: 1rem;
    float:right;
    box-shadow: inset 10px 0 10px -10px rgb(23, 34, 73);
    font-style: italic;
    
}

/* General Sibling Combinator */
h1 ~ p {
    color: hsla(217, 45%, 17%, 1);
    text-indent: 0.7em;
}

/* Combining Two Selectors */
span.activity {
    text-shadow: 1px 1px 2px hsla(217, 45%, 17%, 0.4);
}

#formFlex {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#ratings {
    align-self: center;
}

#shape {
    place-self: center;
}